/* General Layout
*
-----------------------*/
$section-space: ms(3);
$footer-space: ms(0);

div[itemscope]{
    display: none;
}
// @include media-breakpoint-down(md){
//     section.hero{
//         height: 100% !important;
//     }
// }
section{
    background-color: white;

    &.hero{
        width: 100%;
        min-height: 100vh;
    }

    &:not(.hero){
        padding: $section-space 0px;
    }
}

main{
    background: white;
    @include media-breakpoint-up(md) {
        background: transparent;
    }
    position: relative;
    z-index: 2;
    box-shadow: 0 1px 5px 0 #000000;
}
.parallax-window{
    background: transparent;
}

nav.navbar{
    background: none;
    font-size: ms(1);
    box-shadow: 0 0 0 0 #000000;
    @include transition(0.3s);
    padding: $spacer*1.25 $spacer;
}

nav.navbar-small{
    background-color: white;
    box-shadow: 0 1px 5px 0 #000000;
    padding: $spacer/2 $spacer;
}

.yellow-navbar{
    background: $iconica-yellow !important;
    box-shadow: 0 0 0 0 #000000 !important;

    a{
        color: white !important;
        &.dropdown-item{
            color: black !important;
        }
        &:hover{
            color: darken($iconica-yellow, 15%) !important;
        }
    }

    .active{
        color: black !important;
    }
}

.white-navbar{
    background: white !important;
}

footer{
    background-color: black;
    width: 100%;
    padding: $footer-space;
    color: $iconica-yellow;
    position: fixed;
    z-index: 0;
    left: 0;    bottom: 0;

    img{
        max-height: 130px;
    }

    p{
        font-size: ms(-1);
        span#copy-symbol{
            font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
        }
    }

    p,li a{
        font-family: 'satellite';
    }

    li{
        list-style: none;
        margin-left: -30px !important;
    }

    a{
        color: $iconica-yellow;
        &:hover{
            color: darken($iconica-yellow, 15%);
            @include transition(0.3s);
        }
    }
}
#arrow-row{
    position: absolute;
    bottom: ms(2);
    left: 50%;
    i{
        color: $iconica-yellow;
    }
}
.modal{
    .modal-title, strong{
        color: $iconica-yellow;
    }
}
.alert{
    position: fixed;
    bottom: 0px;
    right: 1rem;
    z-index: 10;
    font-family: 'satellite';

    a{
        color: $iconica-pink;
    }
}
.alert-iconica{
    background: rgba(250,175,65,0.9);
}