/* Fonts
*
-----------------------*/
@font-face {
    font-family: 'satellite';
    src: url('../assets/fonts/Satellite/Satellite.otf');
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: 'semplicita';
    src:url('../assets/fonts/Semplicita/Semplicita-Medium.otf');
    font-style: normal;
    font-weight: 700;
}
@font-face {
    font-family: 'behemoth';
    src:url('../assets/fonts/Behemoth/Behemoth-Distressed-Webfont.woff');
    font-style: normal;
}
@font-face {
    font-family: 'brightsight';
    src:url('../assets/fonts/BrightSight/BRIGHTSIGHT.otf');
    font-style: normal;
}

*:not(i){
    font-family: "semplicita";
}

$fontType: p, h6, h5, h4, h3, h2, h1;

$modularscale: (
    base: 1rem,
    ratio: $major-third
);

@for $i from 1 through 7{
    #{ nth($fontType, $i) }{
        font-size: ms($i);
        @if $i == 1 {
            font-family: 'satellite';
            &.lead{
                font-family: "semplicita";
                font-size: ms($i+1);
            }
        }
    }
}

.pink-text{
    color: $iconica-pink;
}
.blue-text{
    color: $iconica-blue;
}
.yellow-text{
    color: $iconica-yellow;
}
.white-text{
    color: white;
}
.black-text{
    color: black;
}